@font-face {
  font-family: 'ChivoLogo';
  src: url(data:font/woff2;base64,d09GMgABAAAAAA7gABMAAAAAIFQAAA53AAEBygAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4bcByBEAZgAIMyCG4JmhYRCAqJQIhnATYCJANsCzgABCAFjU8HgWYMgRg/d2ViZgYbdx6zEVUnB6liUZSDyVD2Xx/YxtLC+8cQusGCRlJx4WxF46MoPhqfGfT6dXfbp5h9/S3cL+btIUlh+v//zdXvc6VSqYoYFoHCPATR6YlBC9AEfTAWLIgG69WMCv3EbdTszyQIeLsmI0aRdesytcnof1iBpWbZVGcgCGn0Bm1TeQ1toAo/Tp9APep6IUUJpGadFz7LXdghHSXsfyEpKB8VdYraXTVy+OEc1Lpryabm+216Sv7nGR4HnVOYsAM7SXsJgEb3f3OlnZndKYICnvfOyKsDllXu8pPs7c/MQXaPclfKFtMt5TgFREegUBGx66uqrAZS7ERlZUHdNCh/Cit4iAZjar3sZRZNQHERZKvd/kfgjgAQADxR8vPrAOCx969yAcAzxk+T1CuxAMgGwEAgeEEQhJHlyjVEJfB4T98IPPObqWUYK1Pba6jhaIiMqbqVpZn0VhpqMb0JIqKqo0FupSYyS8bPSFE9r2/OrklFjTNpKAEHIRsEG0BPMkiYeWCR2mPIdjWAoA1+PiQE22PjAHqjknQKQhTCi6Zv2jfhCQ30wwdxC6ylX/F/ZxSA/wNfGPAjAKAM+y8AA0yosVd+98TxbzmALBL4PocyVPvDwQoDEXF9BkxJSfu9oRn1RrL0q0wmtirujWc+9oY73OZ61/q7v/iVlVesL7/78nXP5Que+o1FKkRuGSw4JmWadpjqTVzCGqa2FquiNxuzRv9LHfifLHjDJ7ZkF9x6UewRygCZ839kFHZN5pM9w8yN6SYn4ul8+utrVsh2HSioERiN8yS9+AfbywuUt0+RpjUV73mvYTTCrP+vSkOyja1dVYEJELPZCBLm4CFgxHu/Hh20Fbd0iOjTWBFanG/mKJdYwS2tPsfKKjeMi0S3LhZOTrRdhrW9JxVOt99S0TMJRwQHMYJc5BaUJIG9RGjPMT9YBt3SLqyFtGTn5CNzkKdkIBF3KXk4NBfC+q2Q7CJSA4oGFYIJij0CJlNxbYtMg6ggrXLC4RiExfMN/FgxCqgh/v8HL8GqVfASjmPuXL9K0VKVRPhtpFuuWqboo3kkMHEyghkJlfvb0WACxaGHpXsog2Lk0WOCXnM0nZt/QlJlThDOiR3Ps96JVIymtnAeblRmX4wZblBaAacjNxBDWNZ8KE5copsqBp85R2KsCRuoFNysn+U/N3pam5IMC8FXrUlmxBIAxWHUW2VL366zKt2oPFYUVrow2888NkCxhIXP02rnoRoSVoIOUWtJjx3CoQ9P/4RkIp8aNmYNk8KmwTwOvHgXi8hn6RLWwn54nHhxHF+8fWK7ahpyp3ShwM73UXtPDyUBuycQg1kolgO1Hg6ameDWxaI5D2FhcC2U6RwrSxO5KRcHyePMFpiUwKXsuKRMxk5TY72TFMBtM4hg30jqbnoD3DgoYJd3EbsGzdE1oCksDspQ8ts5PJSenMIwWVw15xJfX0weDwrcE08WCkUkmzGSwzjJZYLkMUm8TCE+ZiJ+ppIAM/ephJncQYmNW8zUQN+1Y2VPFaNqdvgvdXXVsvD/Hp2PA6yuGi2g+dSACAsbsAiwGLAEsBSwDLAcsAL610CtXT5Kav0ZZ6yp3cupHRMUUxOmH00dqHVqj556SEs5MGH9HfswnPpYyymeFbTroWhG/bHIMJ3HVgwqN0uDUabA6h+Cbsq6E404gC4lrBnykoGWQPYvbEaLP7Q7JRSmFdslTVCr5ct+SiDW3/E0oznbelqSuRA3SU/TisJkdlmNlqC4Tgx5NuzdLE6v+PlwaQnSMLaEMD11w9MGkI0jiS1sp+OQmDnZDXUqtUNRs2lnx9WMHSEeNK6TiskuivBx/MkeTjy4niE6sUohmFCpoZhzB22REWyKw7Ig/8o4BGPeGpz9luUy9u5m5VZssvzB3iREZAtLohXuLmB20gUsMWtgGdComCMXaf1+sgm0wkAZaS+gHVXXTk4kZlDydJggKnsjI1Sw9o6n83kcNS66AEoEx2V16Q4qYho3iJHYqLXKPUSmlmSK6N9WjJjl2Re7Ybkp+rTpJE3WlT3HSZFJO201Y8T76kZsO3QfTI0Bv/ECB2PnVimqTU2pC5OJ5/iYHleum3M421Rzb3ekps1L80Vr2n2QC0JLq9DU9Y6AYEOde2LVhbCMuAN8sqypVWN3Ciwfr4tasZBoennwP7EMWVAA2ie7tQ+giYMjt0ryke4+aJuYAHuIge2TypamEukVpvtVVu2OjWjGe+VkQ9PRc4AWPFgX0OQkzTf3UE3rifQGkT03NVoMMpijWF/tvza9K19/PQLxMz3MiAzUIKEJ/YEM1ge6cQiMyLAk4Ah0+EfrnwAiQxy7hIh8S9Ecx2GATDQApAMKCCERFQIlGLBkcZRMgbOlAmBpABC9PsCVGgyJWQNRS3+Qtkz0FHLgIl0ApAeA9AGQAQAyBEBGAIyM6wLEejIh7NhJOKWclWlc71F+YF4XjFdFHxAqOZIqH6gCZU3oUM0VoFrAinYmU/U9gBoAIGM+0EXJidCh5itALQDQ1WSqrQdQOwDkyAemKHkSOtR1BagbAPqYTPX2AOoDoNxfd/LLzYJ9Uz1OtPr/aur/vCRx9Cv4MLUgUCbDjo30HWnLURwAHgHICmwuAOb/e4psK6k/e/andTK4SBJCFRZN8TgqzQGzyyZ0aRVj8+I0uzamjWhJ68iIPvb+k08CZz/xhGaR1pP0Y48TnfOYps3ooxap011t76mnJr6nn9b1Jx55n/+ozmW9z47+43Vy8Pe1k//vJ446V9qMdZ22dw2g/TTVmM88gLP1YzcTFZiw4OwbidnqeTs3AOnyb9LEjrEXhSb1hqefGykg7iFyK7MU/tL8y7eNu8fvrrvvuYrd58p373vjP/Lbj3U8fGr7wwU3/+fiROLiobGhSbuHGmr+b/Okrb/qF1X/2h+5v9zyt8/zefW/T+Q9cSVHeGHRtiHC2/+LX1Tdypsrq6K3quZf6qkTBx53O63uz5Y/6Q4frLrgo1bdlpg57sTu/kPf96cD/gF/zp5H3MT06o74SsWBQlf5YwXBLv+RgpqLfqCudXTMx/b1B4v+VFR8qOzq9o4T00399sSZHQfShwsOx9OndSTyao8eDdj2bIE+hfTv1en2tu1RfTS0Pdbeesop7911xW+9TfG+nqNtgR8E2rzeob3yzYa5lEsJ9V2XmUTzh6FLFflC12WcXQtxKX/G5GiXmZSWr7oeDS867IcAQdAcOHf2MgJc6EvO7XdIU151uKTXj04WxBjOXjCGkzFPDVlumwU6tHJpyqoOZ9M16F1JHpGL+rLW46Ycp1LSkCVDeS2TAO9piwfwFHsK/Xlww9mq5PAS7cUkhUpQbWZG4Id6/+9NjIcrIAUXMg2ukQquzkMIJWkmRfH3mgigJCNLeanPF65Mtmz8zGHliXBOZSVQ2ZBLqatBBcqKirNKikt1k7e69/82gSnLwEDEAhJgEqmYvZpIZgtBFPj5JDj38oUqr4fLQmdy3cREOCsQAAKlgZJCA354G13FHrMptzpMgCTTCIIpS3MPEjCRlCypcKbt6V0ZGoOCrOwqxgpBgwSEr5049w8ubSLscbkAV4ErPy8HTjicrnLVFi4IWLyP+/70wu2vJu1dH6sF/B2gC/WYmS/1svvYVQDUlqUXAd1+Nnsohnw5+e61Nj5aQSG/RYtsdiefdw3ambGv/BAKWBq5bAINViguQScCIiLRMfA2gP8A2OqPOwbYA1AGjZ5D38gyED6EJDs2QxU6cQzAL3ER+hp0oXy9I86/CYKOlwSDCV8IjmwKCgGdkkLCShehQuP/ESaUMilUWFg3msFXhA4fu5RYMjmvsOL7IiZs8EpNOCBlAzpxpBg4SJgBnCsdQBCycZdgsOE9wVFDTAhk034h4aVlVGj8J8KEQ+FaoSKXVaMZfEjoaGG71MIfFFYyeKGwoUk8IRzQZCl13lorYtal7dq0aN6CbQZCCKIBLRdvxIJURGPeoiPWe07CJpJLUmY4nYgd+Bes27S1wIrLk1m1ZtG0HVvqsG1XWkrYvFVTFq2owwzPm1AJxFZ6d3NxfmHbCAUbWoyRhZQRW1g8sm4kNteXUjPbRmRne2F9c8uoWF9dW5ze2arb3k2nwvOrU4srdTPrq+knlu1oUSumzFiGPNzoytTMXckhKfN2YnBzeeg5v7MytQk0oA7B7aFa0YkB/Q47eJmosHZqizXUBYOtnR3tsjNnXjvNpdOxd920ZdG6NUapY2Jsbm4trq8Zec8VSp46YXJR60eeYmDbpimzUlr2Ni27A6Mta/CwSOPQNzOS8GpYQTChshpJesw1HrquHn6XLnKZZ3E8vZ07BsWhZgIOiG1d5o5uHHMWHMiMnZ/5zSIR90J+dpHfVA0jvlLZtduSxLE3N5rLpAYh8BcWJ7/zpIK9y5IGPuYsMt68WZXxvQEres5EUbIEP5MjpLjFqEnJj5OrM+TCN0mhs14z02CKAQP7mSHVZEROFAoZ/5qWJLmBWuSxDEagJPdSr9vWTAKmK1JFm4DLqEhF4uVgytsVjdjD3pX7xor9PBk+c22epPKjuxm4qCatSvymshJYW+FzuuKxVFNCdWUuFCDs0yKRk5lND8aT/YkHyocKnq0FUTZ9gSyBu74LtBBeTCPlIZoF3Xz9QE8fqjDVuU3UzIxmMgsapNkUzR/36/7mQ4TGr8IHECNOAhwlKEc9Qog7YDhIUshEKplJI50sZCUb2clBzu9nB3cr8yu76YUG087aYlAVvw83xiLBCEM0E7yBh3gjb+LNvIW38jbeHo7UCvWEm9OOHcN/hPz3DI1fSvTdf+gZnUSH25fCFL086GeoupS+sli1q0wdN6lV8pTK5uj1ZgiAoS2JbiO81RHgiN8Suniw0yL74nHILCsb5Tr1bJD47ZmRsYP42Nz2laWqU2WWqmsoc0HiO5cyxL+cVRCvoBO/ePNlAA==)
    format('woff2');
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  background: #fff;
  color: #000;
}

@keyframes loader-animation {
  0% {
    cx: 25;
    cy: 25;
  }

  100% {
    cx: 90;
    cy: 25;
  }
}

.border-lime {
  border-color: rgb(180, 255, 50)
}

.border-green {
  border-color: rgb(0, 255, 140)
}

.border-yellow {
  border-color: rgb(255, 255, 0)
}

.loader {
  position: fixed;
  z-index: 100;
  left: 10rem;
  top: 6rem;
  display: none;
}

.loader-c1 {
  fill: rgb(66, 253, 137);
  animation: loader-animation 1s infinite ease-in-out alternate;
}

.loader-c2 {
  fill: rgb(255, 253, 56);
  animation: loader-animation 1s infinite ease-in-out alternate-reverse;
}

.medals {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.medals a,
.medals a:hover {
  margin-right: 50px;
  margin-top: 30px;
  flex-shrink: 0;
  background: 0 !important;
  border: 0 !important;
}

.medals a:last-child {
  margin-right: 0;
}

.menu {
  font-size: 2rem;
  position: absolute;
  z-index: 100;
  right: 10rem;
  top: 6rem;
  padding: 20px;
  margin-top: -10px;
  margin-right: -10px;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  padding: 0 10px;
}

.menu a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.menu a:hover {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.page {
  max-width: 110rem;
  padding: 30vh 5rem 0 10rem;
}

*::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

a {
  background-color: rgb(64, 253, 169);
  color: #000;
  transition: background-color 0.2s;
  text-decoration: none;
}

a:hover {
  background-color: rgb(163, 253, 143) !important;
}

h1 {
  font-weight: 900;
  font-size: 10rem;
  position: relative;
  z-index: 1;
  margin-bottom: -2rem;
  z-index: 100;
}

.logo {
  font-family: 'ChivoLogo';
}

.content {
  position: relative;
  z-index: 1;
}

.content p {
  width: 80%;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 3.5rem;
}

.content header p {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-top: 6rem;
  width: 100%;
}

p.grand {
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 3rem;
  width: 100%;
}

.community .content header p {
  margin-top: 4rem;
}

.content a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.content a:hover {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.content h2 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;

  margin-top: 7rem;
  margin-bottom: -1rem;
}

.content h2.marked {
  border-left-width: 6px;
  border-left-style: solid;
  padding-left: 6px;
}

.content h2 i {
  font-weight: normal;
}

.content h3 {
  font-size: 3rem;
  font-weight: bold;

  line-height: 4rem;
  margin-top: 5rem;
}

.content h4 {
  font-size: 2.5rem;
  font-weight: bold;

  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: -2rem;
  margin-right: 2rem;
}

.content h4.marked {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

.content ul,
.content ol {
  width: 80%;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.content ol ol,
.content ul ol,
.content ul ul,
.content ol ul {
  margin-top: 1rem;
  margin-left: 4rem;
}

.content li + li {
  margin-top: 1rem;
}

.content ol p,
.content ul p {
  margin-top: 1rem;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content table {
  font-size: 2rem;
  margin-top: 2rem;
  border-collapse: collapse;
}

.content th,
.content td {
  text-align: left;
  vertical-align: top;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid #efefef;
}

.logo-icon {
  background-image: url('favicon-32x32.png');
  background-repeat: no-repeat;
  padding-left: 16px;
  background-size: 8px;
  background-position: left center;
}

.links {
  font-size: 2.5rem;
  margin-top: 6rem;
  line-height: 2;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.links li::after {
  margin: 0 5px;
  content: '\2022';
}

.links li:last-child::after {
  display: none;
}

.links a {
  padding: 5px;
  text-decoration: none;
}

.col + .col {
  margin-left: 4rem;
}

#amoebe {
  position: absolute;
  top: calc(30vh - 14rem);
  left: 10rem;
}

.blog-index {
  position: relative;
  z-index: 1;
  transform: translateZ(0.01px);
}

.blog-item {
  margin-top: 6rem;
}

.blog-item h2 {
  font-size: 5rem;
  line-height: 5rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.blog-item a:not(:hover) {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-item p {
  font-size: 2rem;
  margin: 0;
}

.blog-post hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 4rem;
}

.blog-post header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: -4rem;
}

.blog-post header h1 {
  font-size: 7rem;
}

.blog-post header p {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: calc(-30vh + 6rem);
}

.blog-post header + p {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-top: 6rem;
  width: 100%;
}

.blog-post header + p img:first-child:last-child {
  margin-top: 6rem;
}

.subscribe {
  position: relative;
  padding: 8rem 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subscribe * {
  flex-shrink: 0;
}

.subscribe h3 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1rem;
}

.subscribe p {
  font-size: 3rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.subscribe .alert {
  font-size: 2rem;
  width: 50rem;
  max-width: 100%;
  line-height: 3rem;
  margin-top: 1rem;
  opacity: 0.5;
}

.subscribe .alert a {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input {
  font: inherit;
  font-size: 3rem;

  padding: 0.5rem 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus {
  border-bottom-color: #4cfbab;
}

.button {
  background: 0;
  font: inherit;

  font-size: 3rem;
  display: inline-block;
  padding: 0.5em 2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  transition: background 0.2s;
}

.button:hover,
.button:focus {
  background-color: #4cfbab;
}

.button-primary {
  background-color: #4cfbab !important;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #ebfd5a !important;
}

.button-wide {
  padding-left: 5rem;
  padding-right: 5rem;
}

.button-compact {
  font-size: 2rem;
  padding: 0.2rem 1rem;
}

.subscribe .button {
  margin-top: 2rem;
}

.subscribe input {
  width: 60rem;
  max-width: 100%;
}

.footer {
  border-top: 1px solid #ccc;
  padding-left: 10rem;
  width: 100vw;
  margin-left: -10rem;
  margin-top: 15rem;
}

.partner {
  border-bottom: 0 !important;
}

@media screen and (max-width: 900px) {
  .page {
    position: relative;
    z-index: 1;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 14rem;
    overflow: hidden;
  }

  h1 {
    font-size: 4rem;
  }

  .col + .col {
    margin-left: 0rem;
  }

  .content h2 {
    font-size: 3rem;
    line-height: 4rem;

    margin-top: 3rem;
    margin-bottom: -2rem;
  }

  .content h3 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: -2rem;
  }

  .content p {
    width: 100%;
  }

  .content header p {
    font-size: 2.5rem;
    margin-top: 2rem;
    line-height: 4rem;
  }

  .content p,
  .content ul,
  .content ol {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2rem;
  }

  .content ol ol,
  .content ul ol,
  .content ul ul,
  .content ol ul {
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .content li + li {
    margin-top: 2rem;
  }

  .content table {
    font-size: 1.5rem;
    margin-top: 2rem;
    border-collapse: collapse;
  }

  .content th,
  .content td {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #efefef;
  }

  .links {
    font-size: 1.6rem;
    margin-top: 3rem;
  }

  #amoebe {
    position: absolute;
    top: -5rem;
    left: -10rem;
    transform: scale(0.5);
  }

  .blog-post header h1 {
    font-size: 4rem;
    margin-bottom: 0rem;
  }

  .blog-post header p {
    font-size: 2rem;
    margin-top: 1.5rem;
    position: relative;
    top: auto;
  }

  .blog-post header + p {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .blog-item {
    margin-top: 3rem;
  }

  .blog-item h2 {
    font-size: 3rem;
    line-height: 1.15;
  }

  .blog-item p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .loader {
    top: 1.5rem;
    left: 2.5rem;
    transform: scale(0.4);
    transform-origin: 0 0;
  }

  .menu {
    font-size: 1.5rem;

    right: 1rem;
    top: 1rem;
  }

  .subscribe {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .subscribe h3 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .subscribe p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  .subscribe .alert {
    font-size: 2rem;
    line-height: 3rem;
  }

  input {
    font-size: 2rem;

    padding: 0.5rem 0;
  }

  .button {
    font-size: 2rem;
  }

  .subscribe .button {
    margin-top: 0;
  }

  .footer {
    margin-top: 5rem;
    margin-left: -3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* community */
.stats {
  margin: 5rem 0;
}

.stats-list {
  display: flex;

  margin-top: 2rem;
}

.stat {
  font-size: 2rem;
  line-height: 3rem;
}

.stat strong {
  font-size: 4rem;
  line-height: 1;
  display: block;
}

.stats .stat + .stat {
  margin-left: 4rem;
}

.stats-repos {
  display: flex;
  font-size: 2rem;
  margin-top: 2rem;
}

.stats-repos h5 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.stats-repo-data + span {
  margin-right: 2rem;
}

.stats-repo-data:empty + span {
  display: none;
  margin-right: 0;
}

.map {
  position: relative;
  width: 100vw;
  height: 450px;
  margin-top: 5rem;
  margin-left: -10rem;
}

.map h2 {
  font-size: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: 1000;
  text-align: center;
  font-weight: 900;
  pointer-events: none;
}

.with-note {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  width: 80%;
}

.with-note-main {
  flex: 2;
  padding-right: 1rem;
}

.with-note-side {
  flex: 1;
  text-align: center;
  margin-top: 1.5rem;
}

.cols {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cols h4 + p {
  margin-top: 3rem;
}
.cols p + p {
  margin-top: 0.5rem;
}

.col {
  flex: 1;
}

.col p {
  width: 100%;
}

.content header .subtitle {
  margin-top: 1rem !important;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .blog-post hr {
    margin-top: 3rem;
  }

  .with-note {
    width: 100%;
  }

  .col + .col {
    margin-left: 0rem;
  }

  .map {
    margin-left: -3rem;
    height: 250px;
  }

  .map h2 {
    font-size: 3rem;
  }

  .with-note {
    flex-direction: column-reverse;
  }

  .with-note-side {
    border: 0;
    text-align: left;
    padding: 0;
  }

  .cols {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 0;
  }

  .medals img {
    width: 100vw;
    max-width: none;
    margin-left: -3rem;
    margin-right: -3rem;
    flex-shrink: 0;
    order: 1;
  }

  .stats-list,
  .stats-repos {
    width: calc(50% - 2rem);
  }

  .stats-list {
    flex-direction: column;
    order: 3;
    margin-top: 0;
  }

  .stats-list br {
    display: none;
  }

  .stat {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0 !important;
    margin-top: 2rem;
  }

  .stat strong {
    font-size: 2rem;
  }

  .stats-repos {
    margin-top: 0;
    flex-direction: column;
    order: 2;
  }

  .stats-repo {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 2rem;
  }

  .content header .subtitle {
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .community h1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0;
  }

  .col + .col {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 400px) {
  .community header h1 {
    font-size: 4rem !important;
  }

  .col + .col {
    margin-left: 0rem;
  }
}

.peeps-cluster div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.peeps-cluster img:not(:first-child) {
  margin-left: -10px;
}

.menu-icon-link {
  border-bottom: 0 !important;
}
.menu-icon-link:hover {
  background: none !important;
}

@media screen and (max-width: 360px) {
  .menu {
    left: 0;
    right: 0;
    /* padding: 2rem 1rem; */
  }

  .menu ul {
    justify-content: flex-end;
  }

  .menu li {
    padding: 0 7px;
  }

  .menu-icon-link img[width='26'] {
    width: 20px;
    height: 20px;
  }

  .menu-icon-link img[width='32'] {
    width: 24px;
    height: 24px;
  }

  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section::before {
  top: 0;
  content: '';
  position: absolute;
  left: 0;
  background-color: #ccc;
  height: 1px;
  width: 100vw;
  margin-left: -10rem;
}

.section header h2 {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.section .cols h4 {
  margin-top: 3rem;
}

.section header p {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-top: 1rem !important;
}

.section .cols p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.section footer {
  margin-top: 5rem;
}

.section--disabled {
}

.section--disabled header::before {
  font-size: 2rem;
  content: 'Not yet available';
  bottom: 2rem;
  left: -10px;
  position: relative;
  background: yellow;
  font-weight: bold;
  padding: 5px 10px;
}