@font-face {
  font-family: 'ChivoLogo';
  src: url(data:font/woff2;base64,d09GMgABAAAAAA7gABMAAAAAIFQAAA53AAEBygAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4bcByBEAZgAIMyCG4JmhYRCAqJQIhnATYCJANsCzgABCAFjU8HgWYMgRg/d2ViZgYbdx6zEVUnB6liUZSDyVD2Xx/YxtLC+8cQusGCRlJx4WxF46MoPhqfGfT6dXfbp5h9/S3cL+btIUlh+v//zdXvc6VSqYoYFoHCPATR6YlBC9AEfTAWLIgG69WMCv3EbdTszyQIeLsmI0aRdesytcnof1iBpWbZVGcgCGn0Bm1TeQ1toAo/Tp9APep6IUUJpGadFz7LXdghHSXsfyEpKB8VdYraXTVy+OEc1Lpryabm+216Sv7nGR4HnVOYsAM7SXsJgEb3f3OlnZndKYICnvfOyKsDllXu8pPs7c/MQXaPclfKFtMt5TgFREegUBGx66uqrAZS7ERlZUHdNCh/Cit4iAZjar3sZRZNQHERZKvd/kfgjgAQADxR8vPrAOCx969yAcAzxk+T1CuxAMgGwEAgeEEQhJHlyjVEJfB4T98IPPObqWUYK1Pba6jhaIiMqbqVpZn0VhpqMb0JIqKqo0FupSYyS8bPSFE9r2/OrklFjTNpKAEHIRsEG0BPMkiYeWCR2mPIdjWAoA1+PiQE22PjAHqjknQKQhTCi6Zv2jfhCQ30wwdxC6ylX/F/ZxSA/wNfGPAjAKAM+y8AA0yosVd+98TxbzmALBL4PocyVPvDwQoDEXF9BkxJSfu9oRn1RrL0q0wmtirujWc+9oY73OZ61/q7v/iVlVesL7/78nXP5Que+o1FKkRuGSw4JmWadpjqTVzCGqa2FquiNxuzRv9LHfifLHjDJ7ZkF9x6UewRygCZ839kFHZN5pM9w8yN6SYn4ul8+utrVsh2HSioERiN8yS9+AfbywuUt0+RpjUV73mvYTTCrP+vSkOyja1dVYEJELPZCBLm4CFgxHu/Hh20Fbd0iOjTWBFanG/mKJdYwS2tPsfKKjeMi0S3LhZOTrRdhrW9JxVOt99S0TMJRwQHMYJc5BaUJIG9RGjPMT9YBt3SLqyFtGTn5CNzkKdkIBF3KXk4NBfC+q2Q7CJSA4oGFYIJij0CJlNxbYtMg6ggrXLC4RiExfMN/FgxCqgh/v8HL8GqVfASjmPuXL9K0VKVRPhtpFuuWqboo3kkMHEyghkJlfvb0WACxaGHpXsog2Lk0WOCXnM0nZt/QlJlThDOiR3Ps96JVIymtnAeblRmX4wZblBaAacjNxBDWNZ8KE5copsqBp85R2KsCRuoFNysn+U/N3pam5IMC8FXrUlmxBIAxWHUW2VL366zKt2oPFYUVrow2888NkCxhIXP02rnoRoSVoIOUWtJjx3CoQ9P/4RkIp8aNmYNk8KmwTwOvHgXi8hn6RLWwn54nHhxHF+8fWK7ahpyp3ShwM73UXtPDyUBuycQg1kolgO1Hg6ameDWxaI5D2FhcC2U6RwrSxO5KRcHyePMFpiUwKXsuKRMxk5TY72TFMBtM4hg30jqbnoD3DgoYJd3EbsGzdE1oCksDspQ8ts5PJSenMIwWVw15xJfX0weDwrcE08WCkUkmzGSwzjJZYLkMUm8TCE+ZiJ+ppIAM/ephJncQYmNW8zUQN+1Y2VPFaNqdvgvdXXVsvD/Hp2PA6yuGi2g+dSACAsbsAiwGLAEsBSwDLAcsAL610CtXT5Kav0ZZ6yp3cupHRMUUxOmH00dqHVqj556SEs5MGH9HfswnPpYyymeFbTroWhG/bHIMJ3HVgwqN0uDUabA6h+Cbsq6E404gC4lrBnykoGWQPYvbEaLP7Q7JRSmFdslTVCr5ct+SiDW3/E0oznbelqSuRA3SU/TisJkdlmNlqC4Tgx5NuzdLE6v+PlwaQnSMLaEMD11w9MGkI0jiS1sp+OQmDnZDXUqtUNRs2lnx9WMHSEeNK6TiskuivBx/MkeTjy4niE6sUohmFCpoZhzB22REWyKw7Ig/8o4BGPeGpz9luUy9u5m5VZssvzB3iREZAtLohXuLmB20gUsMWtgGdComCMXaf1+sgm0wkAZaS+gHVXXTk4kZlDydJggKnsjI1Sw9o6n83kcNS66AEoEx2V16Q4qYho3iJHYqLXKPUSmlmSK6N9WjJjl2Re7Ybkp+rTpJE3WlT3HSZFJO201Y8T76kZsO3QfTI0Bv/ECB2PnVimqTU2pC5OJ5/iYHleum3M421Rzb3ekps1L80Vr2n2QC0JLq9DU9Y6AYEOde2LVhbCMuAN8sqypVWN3Ciwfr4tasZBoennwP7EMWVAA2ie7tQ+giYMjt0ryke4+aJuYAHuIge2TypamEukVpvtVVu2OjWjGe+VkQ9PRc4AWPFgX0OQkzTf3UE3rifQGkT03NVoMMpijWF/tvza9K19/PQLxMz3MiAzUIKEJ/YEM1ge6cQiMyLAk4Ah0+EfrnwAiQxy7hIh8S9Ecx2GATDQApAMKCCERFQIlGLBkcZRMgbOlAmBpABC9PsCVGgyJWQNRS3+Qtkz0FHLgIl0ApAeA9AGQAQAyBEBGAIyM6wLEejIh7NhJOKWclWlc71F+YF4XjFdFHxAqOZIqH6gCZU3oUM0VoFrAinYmU/U9gBoAIGM+0EXJidCh5itALQDQ1WSqrQdQOwDkyAemKHkSOtR1BagbAPqYTPX2AOoDoNxfd/LLzYJ9Uz1OtPr/aur/vCRx9Cv4MLUgUCbDjo30HWnLURwAHgHICmwuAOb/e4psK6k/e/andTK4SBJCFRZN8TgqzQGzyyZ0aRVj8+I0uzamjWhJ68iIPvb+k08CZz/xhGaR1pP0Y48TnfOYps3ooxap011t76mnJr6nn9b1Jx55n/+ozmW9z47+43Vy8Pe1k//vJ446V9qMdZ22dw2g/TTVmM88gLP1YzcTFZiw4OwbidnqeTs3AOnyb9LEjrEXhSb1hqefGykg7iFyK7MU/tL8y7eNu8fvrrvvuYrd58p373vjP/Lbj3U8fGr7wwU3/+fiROLiobGhSbuHGmr+b/Okrb/qF1X/2h+5v9zyt8/zefW/T+Q9cSVHeGHRtiHC2/+LX1Tdypsrq6K3quZf6qkTBx53O63uz5Y/6Q4frLrgo1bdlpg57sTu/kPf96cD/gF/zp5H3MT06o74SsWBQlf5YwXBLv+RgpqLfqCudXTMx/b1B4v+VFR8qOzq9o4T00399sSZHQfShwsOx9OndSTyao8eDdj2bIE+hfTv1en2tu1RfTS0Pdbeesop7911xW+9TfG+nqNtgR8E2rzeob3yzYa5lEsJ9V2XmUTzh6FLFflC12WcXQtxKX/G5GiXmZSWr7oeDS867IcAQdAcOHf2MgJc6EvO7XdIU151uKTXj04WxBjOXjCGkzFPDVlumwU6tHJpyqoOZ9M16F1JHpGL+rLW46Ycp1LSkCVDeS2TAO9piwfwFHsK/Xlww9mq5PAS7cUkhUpQbWZG4Id6/+9NjIcrIAUXMg2ukQquzkMIJWkmRfH3mgigJCNLeanPF65Mtmz8zGHliXBOZSVQ2ZBLqatBBcqKirNKikt1k7e69/82gSnLwEDEAhJgEqmYvZpIZgtBFPj5JDj38oUqr4fLQmdy3cREOCsQAAKlgZJCA354G13FHrMptzpMgCTTCIIpS3MPEjCRlCypcKbt6V0ZGoOCrOwqxgpBgwSEr5049w8ubSLscbkAV4ErPy8HTjicrnLVFi4IWLyP+/70wu2vJu1dH6sF/B2gC/WYmS/1svvYVQDUlqUXAd1+Nnsohnw5+e61Nj5aQSG/RYtsdiefdw3ambGv/BAKWBq5bAINViguQScCIiLRMfA2gP8A2OqPOwbYA1AGjZ5D38gyED6EJDs2QxU6cQzAL3ER+hp0oXy9I86/CYKOlwSDCV8IjmwKCgGdkkLCShehQuP/ESaUMilUWFg3msFXhA4fu5RYMjmvsOL7IiZs8EpNOCBlAzpxpBg4SJgBnCsdQBCycZdgsOE9wVFDTAhk034h4aVlVGj8J8KEQ+FaoSKXVaMZfEjoaGG71MIfFFYyeKGwoUk8IRzQZCl13lorYtal7dq0aN6CbQZCCKIBLRdvxIJURGPeoiPWe07CJpJLUmY4nYgd+Bes27S1wIrLk1m1ZtG0HVvqsG1XWkrYvFVTFq2owwzPm1AJxFZ6d3NxfmHbCAUbWoyRhZQRW1g8sm4kNteXUjPbRmRne2F9c8uoWF9dW5ze2arb3k2nwvOrU4srdTPrq+knlu1oUSumzFiGPNzoytTMXckhKfN2YnBzeeg5v7MytQk0oA7B7aFa0YkB/Q47eJmosHZqizXUBYOtnR3tsjNnXjvNpdOxd920ZdG6NUapY2Jsbm4trq8Zec8VSp46YXJR60eeYmDbpimzUlr2Ni27A6Mta/CwSOPQNzOS8GpYQTChshpJesw1HrquHn6XLnKZZ3E8vZ07BsWhZgIOiG1d5o5uHHMWHMiMnZ/5zSIR90J+dpHfVA0jvlLZtduSxLE3N5rLpAYh8BcWJ7/zpIK9y5IGPuYsMt68WZXxvQEres5EUbIEP5MjpLjFqEnJj5OrM+TCN0mhs14z02CKAQP7mSHVZEROFAoZ/5qWJLmBWuSxDEagJPdSr9vWTAKmK1JFm4DLqEhF4uVgytsVjdjD3pX7xor9PBk+c22epPKjuxm4qCatSvymshJYW+FzuuKxVFNCdWUuFCDs0yKRk5lND8aT/YkHyocKnq0FUTZ9gSyBu74LtBBeTCPlIZoF3Xz9QE8fqjDVuU3UzIxmMgsapNkUzR/36/7mQ4TGr8IHECNOAhwlKEc9Qog7YDhIUshEKplJI50sZCUb2clBzu9nB3cr8yu76YUG087aYlAVvw83xiLBCEM0E7yBh3gjb+LNvIW38jbeHo7UCvWEm9OOHcN/hPz3DI1fSvTdf+gZnUSH25fCFL086GeoupS+sli1q0wdN6lV8pTK5uj1ZgiAoS2JbiO81RHgiN8Suniw0yL74nHILCsb5Tr1bJD47ZmRsYP42Nz2laWqU2WWqmsoc0HiO5cyxL+cVRCvoBO/ePNlAA==)
    format('woff2');
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Chivo';
  src: url('fonts/chivo-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  background: #fff;
  color: #000;
}

.menu {
  font-size: 2rem;
  position: fixed;
  z-index: 10;
  right: 10rem;
  top: 6rem;
  background-color: #fff;
  padding: 20px;
  margin-top: -10px;
  margin-right: -10px;
  transform: translateZ(0.01px);
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.menu li {
  padding: 0 10px;
}

.menu a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.menu a:hover {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.page {
  max-width: 110rem;
  padding: 45vh 5rem 0 10rem;
}

*::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

a {
  background-color: rgb(64, 253, 169);
  color: #000;
  transition: background-color 0.2s;
  text-decoration: none;
}

a:hover {
  background-color: rgb(163, 253, 143) !important;
}

h1 {
  font-weight: 900;
  font-size: 10rem;
  position: relative;
  transform: translateZ(0.01px);
  z-index: 100;
  margin-bottom: -2rem;
}

.logo {
  font-family: 'ChivoLogo';
}

.content {
  position: relative;
  z-index: 1;
  transform: translateZ(0.01px);
}

.content p {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-top: 6rem;
}

.content a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.content a:hover {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.content h2 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: bold;

  margin-top: 6rem;
  margin-bottom: -4rem;
}

.content h3 {
  font-size: 4rem;
  margin-top: 6rem;
  margin-bottom: -4rem;
}

.content ul,
.content ol {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-top: 6rem;
}

.content ol ol,
.content ul ol,
.content ul ul,
.content ol ul {
  margin-top: 2rem;
  margin-left: 6rem;
}

.content li + li {
  margin-top: 4rem;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content table {
  font-size: 2rem;
  margin-top: 6rem;
  border-collapse: collapse;
}

.content th,
.content td {
  text-align: left;
  vertical-align: top;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid #efefef;
}

.links {
  font-size: 2.5rem;
  margin-top: 6rem;
  line-height: 2;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.links li::after {
  margin: 0 5px;
  content: '\2022';
}

.links li:last-child::after {
  display: none;
}

.links a {
  padding: 5px;
  text-decoration: none;
}

svg {
  position: absolute;
  top: calc(50vh - 25rem);
  left: 8rem;
  transform: translateZ(0.01px);
}

.blog-index {
  position: relative;
  z-index: 1;
}

.blog-item {
  margin-top: 6rem;
}

.blog-item h2 {
  font-size: 5rem;
  line-height: 5rem;
  line-height: 1.15;
}

.blog-item h2 a {
  text-decoration: none;
}

.blog-item p {
  font-size: 3rem;
  margin: 0;
}

.blog-post header h1 {
  font-size: 7rem;
}

.blog-post header p {
  margin: 0;
  font-size: 2.5rem;
}

.subscribe {
  position: relative;
  min-height: 80vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subscribe * {
  flex-shrink: 0;
}

.subscribe h3 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1rem;
}

.subscribe p {
  font-size: 3rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.subscribe .alert {
  font-size: 2rem;
  width: 50rem;
  max-width: 100%;
  line-height: 3rem;
  margin-top: 1rem;
  opacity: 0.5;
}

.subscribe .alert a {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input {
  font: inherit;
  font-size: 3rem;

  padding: 0.5rem 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus {
  border-bottom-color: #4cfbab;
}

button {
  background: 0;
  font: inherit;

  font-size: 3rem;
  display: inline-block;
  padding: 0.5em 2rem;
  outline: none;
  border-color: rgba(0, 0, 0, 0.2);
}

button:hover,
button:focus {
  background-color: #4cfbab;
}

.subscribe button {
  margin-top: 2rem;
}

.subscribe input {
  width: 60rem;
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .page {
    position: relative;
    z-index: 1;
    transform: translateZ(0.01px);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: calc(20vh - 6rem);
  }

  h1 {
    font-size: 4rem;
  }

  .content h2 {
    font-size: 3rem;
    line-height: 4rem;

    margin-top: 3rem;
    margin-bottom: -2rem;
  }

  .content h3 {
    font-size: 2rem;
  }

  .content p,
  .content ul,
  .content ol {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 3rem;
  }

  .content ol ol,
  .content ul ol,
  .content ul ul,
  .content ol ul {
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .content li + li {
    margin-top: 2rem;
  }

  .content table {
    font-size: 1.5rem;
    margin-top: 3rem;
    border-collapse: collapse;
  }

  .content th,
  .content td {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #efefef;
  }

  .links {
    font-size: 1.6rem;
    margin-top: 3rem;
  }

  svg {
    position: absolute;
    top: calc(20vh - 32rem);
    left: -11.5rem;
    transform: scale(0.5) translateZ(0.01px);
  }

  .blog-post header h1 {
    font-size: 4rem;
  }

  .blog-post header p {
    font-size: 2rem;
  }

  .blog-item {
    margin-top: 3rem;
  }

  .blog-item h2 {
    font-size: 3rem;
    line-height: 1.15;
  }

  .blog-item p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .menu {
    font-size: 1.5rem;

    right: 1rem;
    top: 1rem;
  }

  .subscribe {
    height: auto;
  }

  .subscribe h3 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .subscribe p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  .subscribe .alert {
    font-size: 2rem;
    line-height: 3rem;
  }

  input {
    font-size: 2rem;

    padding: 0.5rem 0;
  }

  button {
    font-size: 2rem;
  }

  .subscribe button {
    margin-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
