<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>LeapDAO Blog</title>
    <meta
      name="description"
      content="LeapDAO blog. Articles on blockchains, ethereum scaling and plasma"
    />
    <meta
      name="keywords"
      content="leap, blockchain, plasma, ethereum, scaling, proof of stake"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      property="og:title"
      content="LeapDAO: delivering scalability as global public utility"
    />
    <meta
      property="og:description"
      content="LeapDAO is a decentralized adaptive organization delivering scalability as global public utility."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://leapdao.org/blog" />
    <meta property="og:image" content="http://leapdao.org/img/og.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@leapdao" />
    <meta name="twitter:title" content="Blog | LeapDAO" />
    <meta name="twitter:image" content="http://leapdao.org/img/og.jpg" />

    <link rel="canonical" href="http://leapdao.org/blog/" />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <div class="page">
      <h1>LeapDAO Blog</h1>

      <ul class="blog-index">
        {% for post in (page.collection | latestFirst) %}
        <div class="blog-item">
          <h2>
            <a href="/blog{{ post.path }}/">{{ post.title }}</a>
          </h2>
          <p>
            {{ post.date | formatdate }}
            {% if post.authors %} by {{ post.authors | safe }} {% endif %}
          </p>
        </div>
        {% endfor %}
      </ul>

      <menu class="menu">
        <ul>
          <li><a href="/">~</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/resources.html">Resources</a></li>
          <li>
            <a
              class="menu-icon-link"
              href="https://twitter.com/leapdao"
              target="_blank"
              rel="noopener"
            >
              <img src="/img/twitter.svg" width="26" height="26" />
            </a>
          </li>
          <li>
            <a
              class="menu-icon-link"
              href="https://github.com/leapdao"
              target="_blank"
              rel="noopener"
            >
              <img src="/img/github.svg" width="32" height="32" />
            </a>
          </li>
        </ul>
      </menu>

      <footer class="footer">
        <form
          id="mc-embedded-subscribe-form"
          action="https://leapdao.us19.list-manage.com/subscribe/post-json?u=6a1b0204c404c1a1c4b498537&amp;id=f12a24a1f3&amp;c=?"
          method="post"
          class="subscribe"
        >
          <h3>Stay in touch</h3>
          <p>
            We will notify you only about important <br />things, like a mainnet
            launch
          </p>
          <label for="email" class="visually-hidden">Email address</label>
          <input
            id="email"
            type="email"
            value=""
            name="EMAIL"
            placeholder="Email address"
            class="email"
          />
          <p class="alert"></p>
          <button class="submit button">Subscribe</button>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_6a1b0204c404c1a1c4b498537_f12a24a1f3"
              tabindex="-1"
              value=""
            />
          </div>
        </form>
      </footer>
    </div>

    <canvas id="amoebe"></canvas>

    <svg width="115" height="50" class="loader">
      <defs>
        <filter id="loader-goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            result="mat"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 40 -15"
          />
        </filter>
      </defs>
      <g filter="url(#loader-goo)">
        <circle r="20" class="loader-c1" />
        <circle r="20" class="loader-c2" />
      </g>
    </svg>

    <script src="/main.js" async></script>
    <script src="/amoebe.js" async></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-128351135-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-128351135-1');
    </script>
    <script src="https://assets.digitalclimatestrike.net/widget.js" async></script>
  </body>
</html>
