<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }} | LeapDAO</title>
    <meta name="description" content="{{ page.description }}" />
    <meta
      name="keywords"
      content="leap, blockchain, ethereum, plasma, scalability"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:title"
      content="Leap DAO: delivering scalability as global public utility"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://leapdao.org/img/og.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@leapdao" />
    <meta name="twitter:image" content="http://leapdao.org/img/og.jpg" />
    {% if page.author %}
    <meta name="twitter:creator" content="{{ page.author.twitter }}" />
    {% endif %}
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}

    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <div class="page">
      <div class="blog-post">
        <article class="content">
          <header class="blog-post-header">
            <h1>{{ page.title }}</h1>
            <p>
              {{ page.date | formatdate }} {% if page.authorLink %} by
              {{ page.authorLink | safe }} {% elseif page.authorName %} by
              {{ page.authorName }} {% endif %}
            </p>
          </header>

          {{ page.body | markdown }}
        </article>
      </div>
      <menu class="menu">
        <ul>
          <li><a href="/">~</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/bounties">Bounties</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </menu>
      <footer class="footer">
        <ul class="links">
          <li>
            <a
              href="https://docs.google.com/document/d/1vStTjqvqZGyiI5AVtpwCIMlHFnzC_4bbixsCfs27-M8/edit"
              target="_blank"
              rel="noopener"
              >Read</a
            >
          </li>
          <li>
            <a href="https://twitter.com/leapdao" target="_blank" rel="noopener"
              >Follow</a
            >
          </li>
          <li>
            <a href="mailto:mail@leapdao.org" target="_blank" rel="noopener"
              >Contact</a
            >
          </li>
          <li>
            <a href="http://join.leapdao.org" target="_blank" rel="noopener"
              >Join</a
            >
          </li>
          <li>
            <a href="https://github.com/leapdao" target="_blank" rel="noopener"
              >Contribute</a
            >
          </li>
        </ul>

        <form
          id="mc-embedded-subscribe-form"
          action="https://leapdao.us19.list-manage.com/subscribe/post-json?u=6a1b0204c404c1a1c4b498537&amp;id=f12a24a1f3&amp;c=?"
          method="post"
          class="subscribe"
        >
          <h3>Stay in touch</h3>
          <p>
            We will notify you only about important <br />things, like a mainnet
            launch
          </p>
          <label for="email" class="visually-hidden">Email address</label>
          <input
            id="email"
            type="email"
            value=""
            name="EMAIL"
            placeholder="Email address"
            class="email"
          />
          <p class="alert"></p>
          <button class="submit button">Subscribe</button>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_6a1b0204c404c1a1c4b498537_f12a24a1f3"
              tabindex="-1"
              value=""
            />
          </div>
        </form>
      </footer>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="530"
      height="545"
      id="amoebe"
    >
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="35" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            result="mat"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 50 -19"
          />
        </filter>
      </defs>

      <g filter="url(#goo)">
        <circle cx="0" cy="0" r="30" />
        <circle cx="0" cy="0" r="30" />
        <circle cx="0" cy="0" r="30" />
        <circle cx="0" cy="0" r="30" />
        <circle cx="0" cy="0" r="30" />
      </g>
    </svg>

    <svg width="115" height="50" class="loader">
      <defs>
        <filter id="loader-goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            result="mat"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 40 -15"
          />
        </filter>
      </defs>
      <g filter="url(#loader-goo)">
        <circle r="20" class="loader-c1" />
        <circle r="20" class="loader-c2" />
      </g>
    </svg>

    <script src="/main.js" async></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-128351135-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-128351135-1');
    </script>
  </body>
</html>
