.stats {
  margin: 10rem 0;
}

.stats-list {
  display: flex;

  margin-top: 2rem;
}

.stat {
  font-size: 2rem;
  line-height: 3rem;
}

.stat strong {
  font-size: 4rem;
  line-height: 1;
  display: block;
}

.stats .stat + .stat {
  margin-left: 4rem;
}

.stats-repos {
  display: flex;
  font-size: 2rem;
  margin-top: 2rem;
}

.stats-repos h5 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.stats-repo + .stats-repo {
  margin-left: 2rem;
}

.map {
  position: relative;
  width: 100vw;
  height: 400px;
  margin-top: 5rem;
  margin-left: -10rem;
}

.map h2 {
  font-size: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: 1000;
  text-align: center;
  font-weight: 900;
  pointer-events: none;
}

.with-note {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  width: 80%;
}

.with-note-main {
  flex: 2;
  padding-right: 1rem;
}

.with-note-side {
  flex: 1;
  text-align: center;
  margin-top: 1.5rem;
}

.cols {
  display: flex;
  justify-content: space-between;
}

.col {
  width: calc(50% - 4rem);
}

.content header .subtitle {
  margin-top: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 8rem;
}

@media screen and (max-width: 900px) {
  .with-note {
    width: 100%;
  }

  .map {
    margin-left: -3rem;
    height: 250px;
  }

  .map h2 {
    font-size: 3rem;
  }

  .with-note {
    flex-direction: column-reverse;
  }

  .with-note-side {
    border: 0;
    text-align: left;
    padding: 0;
  }

  .cols {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 0;
  }

  .stats img {
    width: 100vw;
    max-width: none;
    margin-left: -3rem;
    margin-right: -3rem;
    flex-shrink: 0;
    order: 1;
  }

  .stats-list,
  .stats-repos {
    width: calc(50% - 2rem);
  }

  .stats-list {
    flex-direction: column;
    order: 3;
    margin-top: 0;
  }

  .stats-list br {
    display: none;
  }

  .stat {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0 !important;
    margin-top: 2rem;
  }

  .stat strong {
    font-size: 2rem;
  }

  .stats-repos {
    margin-top: 0;
    flex-direction: column;
    order: 2;
  }

  .stats-repo {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}
